<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaomi.parts"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>

    <uses-sdk android:minSdkVersion="29" />

    <application
        android:label="@string/xiaomi_parts_title"
        android:supportsRtl="true"
        android:theme="@style/CustomOptionsTheme">

        <receiver
            android:name=".BootReceiver"
            android:defaultToDeviceProtectedStorage="true"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".torch.TorchSettingsActivity"
	    android:exported="false"
            android:label="@string/torch_category">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>

            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/torch_summary" />
        </activity>

        <activity
            android:name=".touch.TouchSettingsActivity"
            android:exported="false"
            android:label="@string/glove_title">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>

            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/glove_summary" />
        </activity>

        <activity
            android:name=".dirac.DiracSettingsActivity"
            android:exported="false"
            android:label="@string/dirac_title" >
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>

            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.sound" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/dirac_summary" />
        </activity>

        <activity
            android:name=".kcal.KCalSettingsActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/CustomOptionsTheme"
            android:label="@string/advanced_settings_kcal">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/device_kcal_summary" />
        </activity>

        <activity
            android:name=".soundcontrol.SoundControlSettingsActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:label="@string/sound_settings">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.sound" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/sound_summary" />
        </activity>

        <service
            android:name=".dirac.DiracService"
            android:enabled="true"
            android:stopWithTask="false" />
            <service
            android:name=".dirac.DiracTileService"
            android:icon="@drawable/ic_qs_dirac"
            android:label="@string/dirac_qs_tile_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <service android:name="com.xiaomi.parts.ambient.SensorsDozeService"
                 android:permission="SensorsDozeService">
        </service>

        <activity
            android:name="com.xiaomi.parts.ambient.AmbientGesturePreferenceActivity"
            android:theme="@style/CustomOptionsTheme"
            android:label="@string/ambient_display_gestures_title">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.gestures" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/ambient_display_gestures_summary" />
        </activity>
    </application>
</manifest>
